<%# if @passenger.errors.any? %>
<!--  <p class="errors">-->
<!--    <i>Please adjust the following and try again!</i>-->
<!--    <br>-->
<%# @passenger.errors.each do |column, message| %>
<!--      <strong>- <%#= column.capitalize %></strong> <%#= message %>-->
<!--      <br>-->
<%# end %>
<!--  </p>-->
<%# end %>

<%= form_with model: @work, class: 'work-form' do |f| %>

  <%= f.label :category %>
    <%= f.select :category, ["album", "book", "movie"] %>

  <%= f.label :title %>
    <%= f.text_field :title %>

  <%= f.label :creator %>
    <%= f.text_field :creator %>

  <%= f.label :publication_year %>
    <%= f.text_field :publication_year %>

  <%= f.label :description %>
    <%= f.text_area :description %>

  <%= f.submit button_text, class: "from-button" %>
<% end %>