<!--<section class="spotlight">-->
<!--  <h2 class="spotlight__header">-->
<!--    <span class="spotlight__header--prefix">Media Spotlight</span>-->
<!--    <a class="spotlight__link-to" href="/works/866">Where'd they all go?</a> by-->
<!--  </h2>-->
<!--  <p class="spotlight__description">-->
<!--    7 votes-->
<!--  </p>-->
<!--</section>-->


<h2 class="spotlight__header">
  <span class="spotlight__header--prefix">Media Spotlight</span>
  <%= Work.spotlight.title %> by <%= Work.spotlight.creator %>
</h2>
<p class="spotlight__description">
  <%= Work.spotlight.id %> votes - <%= Work.spotlight.description %>
</p>

<hr class="root__hr">
<section class="top-ten__container">
  <%= render partial: "top_ten", locals: { category: "movie" } %>
  <%= render partial: "top_ten", locals: { category: "book" } %>
  <%= render partial: "top_ten", locals: { category: "album" } %>
</section>

