<main>
  <section>
    <h2><%= @work.title %></h2>
    <p>Created by: <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>
    <section>
      <%= button_to "Edit", edit_work_path(@work), method: :get, :class => "btn-primary" %>
      <%= button_to "Back to Media Ranks", root_path, :class => "btn-primary" %>
<!--      <a class="btn-primary" ><%#= button_to "Upvote", work_vote_path(@work), method: :post %>
      <%= button_to "Delete", work_path(@work), method: :delete, class: "btn-primary", data: {confirm: "Are you sure?"} %>
    </section>
  </section>
<!--  <section class ="works-votes-container">-->
<!--    <h3 class="works-votes-container"><%#= @work.votes %> Votes for this <%#= @work.category %> </h3>-->
<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>User</th>-->
<!--          <th>Date</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
        <%# @work.votes.each do |vote| %>
<!--          <tr>-->
<!--            <td><%#= vote.user %></td>-->
<!--            <td><%#= vote.date %></td>-->
<!--          </tr>-->
        <%# end %>
<!--      </tbody>-->
<!--    </table>-->
<!--  </section>-->
</main>