<section class="media-table"><br>
  <h4><%= category.capitalize %></h4>
    <table class="table">
      <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted on</th>
      </tr>
      <thead>
      <tbody>
        <% @user.votes.each do |vote| %>
          <tr>
            <td><%= link_to vote.work.title, work_path(vote.work.id), method: :get %></td>
            <td><%= vote.work.creator %></td>
            <td><%= vote.work.publication_year %></td>
            <td><%= vote.work.category.capitalize %></td>
            <td><%= vote.created_at.strftime('%b %d, %Y')%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>