<section class="media-table">
  <h4><%= category.capitalize %></h4>
  <% if @user.votes.nil? || @user.votes.length.zero? %>
    <p>No <%= category %> in the system.</p>

  <% else %>
    <table class="table">
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted on</th>
      </tr>

      <% @user.votes.each do |vote| %>
          <tr>
            <td><%= link_to vote.work.title, work_path(vote.work.id), method: :get %></td>
            <td><%= vote.work.creator %></td>
            <td><%= vote.work.publication_year %></td>
            <td><%= vote.work.category.capitalize %></td>
            <td><%= vote.created_at.strftime('%b %d, %Y')%></td>
          </tr>
      <% end %>
    </table>
  <% end %>
</section>