<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, class: 'login__form', url: login_path do |f| %>
  <h2>Login</h2>
  <%= f.label :Username %>
  <%= f.text_field :name %>

  <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>